<div id="compras">
    <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Address</th>
        <th>Product</th>
        <th>Price</th>
        <th>Payment Method</th>
      </tr>
    </thead>
    <tbody>
        {{#each compras}}
      <tr>
        <td>{{email}}</td>
        <td>{{nome}}</td>
        <td>{{morada}}</td>
        <td>{{produto}}</td>
        <td>{{preco}}</td>
        <td>{{metodoPagamento}}</td>
      </tr>
       {{/each}}
    </tbody>
  </table>
</div>