  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>Billing and order expedition data</h1>
    <br>
    <p class="text-center font-weight-bold">Email: {{email}}</p>
    <p class="text-center font-weight-bold">Name: {{nome}}</p>
    <p class="text-center font-weight-bold">Address: {{morada}}</p>
    <p class="text-center font-weight-bold">You bought a {{produto}} for {{preco}}€ using {{metodoPagamento}}</p>
    <p class="text-center font-weight-bold">Your product will be sent to you really soon! </p>
    <p class="text-center font-weight-bold">We hope you enjoyed our services and we hope to see you again using our services! 😉</p>
  </div>
  <div class="col-sm-4"></div>
</div>
  
